---
import Layout from "../layouts/Layout.astro";
import pageStyles from "./404.module.scss";
---

<Layout title="ページが見つかりません">
  <div class={pageStyles.body}>
    <h1 class={pageStyles.title}>404 Not Found</h1>
    <p>アクセスしたページは見つかりませんでした</p>
  </div>
</Layout>
