@use "../components/var";

.body {
  --about-link-color: #00c1d4;
  .title {
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 20px;
  }
  h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0 0px;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 5px;
  }
  a {
    color: var(--about-link-color);
  }
}
