---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import pageStyles from "./index.module.scss";
import SearchBox from "../components/SearchBox.astro";
import NewsBanner from "../components/NewsBanner.astro";
import Card from "../components/Card.astro";
import ClassList from "../components/ClassList.astro";
import SideMenu from "../components/SideMenu.astro";
import { getTopNSubject } from "../content/ranking";

// summaryData から インデックスに subjectName が含まれるデータを取得
const subjects = getTopNSubject(5);
---

<Layout>
    <Header isMain={true}>
        <SearchBox />
    </Header>
    <NewsBanner title="BRIDGEをリリースしました！"/>
        <main class={pageStyles.main}>
        <Card title="総合評価が高い科目" href="/ranking" moreText="もっと見る">
            <ClassList subjects={subjects} />
        </Card>
        <div class={pageStyles.sidebar}>
            <SideMenu />
        </div>
    </main>
</Layout>
