---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import pageStyles from "./index.module.scss";
import SearchBox from "../components/SearchBox.astro";
import NewsBanner from "../components/NewsBanner.astro";
import Card from "../components/Card.astro";
import ClassList from "../components/ClassList.astro";
import SideMenu from "../components/SideMenu.astro";
---

<Layout title="brige">
  <Header is_main={true}>
    <SearchBox />
  </Header>
  <NewsBanner title="New feature released!" link="/news/1" />
  <main class={pageStyles.main}>
    <Card title="総合評価が高い科目" href="/link" moreText="もっと見る">
      <ClassList classProps={[
		{
		  title: "ファーストイヤーセミナー",
		  colleges: ["メディア創成学類", "地球学類"],
		  slug: "first-year-seminar",
		  teachers: [
			{ name: "吉原 幹也" },
			{ name: "新井 圭" },
			{ name: "荒川 義隆" },
		  ],
		  rating: 5,
		  reviewCount: 1,
		},
		{
		  title: "情報リテラシー",
		  colleges: ["メディア創成学類"],
		  slug: "information-literacy",
		  teachers: [
			{ name: "東 辰己" },
		  ],
		  rating: 5,
		  reviewCount: 1,
		},
	  ]} />
    </Card>
    <div class={pageStyles.sidebar}>
		<SideMenu />
	</div>
  </main>
</Layout>
