---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import pageStyles from "./index.module.scss";
import SearchBox from "../components/SearchBox.astro";
import NewsBanner from "../components/NewsBanner.astro";
import Card from "../components/Card.astro";
import ClassList from "../components/ClassList.astro";
import SideMenu from "../components/SideMenu.astro";
---

<Layout>
    <Header isMain={true}>
        <SearchBox />
    </Header>
    <NewsBanner title="New feature released!" link="/news/1" />
        <main class={pageStyles.main}>
        <Card title="総合評価が高い科目" href="/ranking" moreText="もっと見る">
            <ClassList classProps={["線形代数1", "情報メディア入門"]} />
        </Card>
        <div class={pageStyles.sidebar}>
            <SideMenu />
        </div>
    </main>
</Layout>
