---
import Layout from "../layouts/Layout.astro";
import ClassList from "../components/ClassList.astro";
import { getTopNSubject } from "../content/ranking";
import pageStyles from "./ranking.module.scss";

// summaryData から インデックスに subjectName が含まれるデータを取得

const subjects = getTopNSubject(Infinity);
---

<Layout title="総合評価が高い科目">
  <div class={pageStyles.body}>
    <h1 class={pageStyles.title}>総合評価が高い科目</h1>
    <div class={pageStyles.list}>
      <ClassList subjects={subjects} />
    </div>
  </div>
</Layout>
