---
interface Props {
    classProps: classList[];
}
interface classList {
    title: string;
    colleges: string[];
    slug: string;
    teachers: {
        name: string;
        image?: string;
    }[];
    rating: number;
    reviewCount: number;
}
const { classProps } = Astro.props;
import componentStyles from "./ClassList.module.scss";
import ClassListItem from "./ClassListItem.astro";
---

<div class={componentStyles.list}>
    {classProps.map((classProp) => <ClassListItem classProp={classProp} />)}
</div>
