.item {
  --class-list-item-title-text-color-light: #101010;
  --class-list-item-title-text-color-dark: #ffffff;
  --class-list-item-title-text-color: var(
    --class-list-item-title-text-color-light
  );
  --class-list-item-title-text-color-hover-light: #ffffff;
  --class-list-item-title-text-color-hover-dark: #000000;
  --class-list-item-title-text-color-hover: var(
    --class-list-item-title-text-color-hover-light
  );
  --class-list-item-title-background-color-hover-light: #00c1d4;
  --class-list-item-title-background-color-hover-dark: #00c1d4;
  --class-list-item-title-background-color-hover: var(
    --class-list-item-title-background-color-hover-light
  );
  --class-list-item-info-text-color-light: #101010;
  --class-list-item-info-text-color-dark: #e5e5e5;
  --class-list-item-info-text-color: var(
    --class-list-item-info-text-color-light
  );
  --class-list-item-category-border-color-light: #00c1d4;
  --class-list-item-category-border-color-dark: #00c1d4;
  --class-list-item-category-border-color: var(
    --class-list-item-category-border-color-light
  );
  --class-list-item-border-color-light: #e0e0e0;
  --class-list-item-border-color-dark: #e0e0e0;
  --class-list-item-border-color: var(--class-list-item-border-color-light);

  border-bottom: 1px solid var(--class-list-item-border-color);
  padding: 15px 0;
  &:last-child {
    border-bottom: none;
  }
  .title {
    display: flex;
    font-size: 25px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    a {
      display: inline-block;
      position: relative;
      color: var(--class-list-item-title-text-color);
      text-decoration: none;
      z-index: 0;
      width: fit-content;
      &::after {
        position: absolute;
        content: "";
        display: block;
        top: -3px;
        left: -5px;
        right: calc(100% + 5px);
        bottom: -4px;
        background-color: var(--class-list-item-title-background-color-hover);
        transition: right 0.3s;
        z-index: -1;
      }
      &:hover {
        color: var(--class-list-item-title-text-color-hover);
        &::after {
          right: -5px;
        }
      }
    }
    .category {
      display: inline-block;
      font-size: 14px;
      padding: 6px 18px;
      border-radius: 20px;
      border: 1px solid var(--class-list-item-category-border-color);
      margin-left: 10px;
    }
  }
  .info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
    color: var(--class-list-item-info-text-color);
    flex-wrap: wrap;
    .images {
      display: flex;
      .image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        &:not(:first-child) {
          margin-left: -10px;
        }
      }
    }
    .names {
      display: flex;
      align-items: baseline;
      gap: 5px;
      font-size: 14px;
      flex-shrink: 0;
      .name {
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}

@media screen and (prefers-color-scheme: dark) {
  .item {
    --class-list-item-title-text-color: var(
      --class-list-item-title-text-color-dark
    );
    --class-list-item-title-text-color-hover: var(
      --class-list-item-title-text-color-hover-dark
    );
    --class-list-item-title-background-color-hover: var(
      --class-list-item-title-background-color-hover-dark
    );
    --class-list-item-info-text-color: var(
      --class-list-item-info-text-color-dark
    );
    --class-list-item-category-border-color: var(
      --class-list-item-category-border-color-dark
    );
    --class-list-item-border-color: var(--class-list-item-border-color-dark);
  }
}
