@use './var';

.header {
    background-color: #00C1D4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    &.main {
        padding: 50px 20px;
    }
    .logoWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        .copy {
            font-size: 20px;
            color: #ffffff;
            margin: 10px 0 20px;
            font-weight: 600;
            @include var.sp {
                display: none;
            }
        }
        .logo {
            width: auto;
            height: 60px;
            &.large {
                height: 120px;
                @include var.sp {
                    height: 80px;
                }
            }
        }
        .badge {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 5px 20px;
            border-radius: 20px;
            background-color: #ffffff;
            color: #5d5d5d;
            font-size: 14px;
            font-weight: 600;
            margin: 0 0 10px 0;
        }
    }
    .slot {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
