@use "./var";

.header {
  --header-background-color: #00c1d4;
  --header-copy-text-color: #ffffff;
  --header-badge-background-color: #ffffff;
  --header-badge-text-color: #5d5d5d;

  background-color: var(--header-background-color);
  padding: 20px 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  .logoWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    .copy {
      font-size: 14px;
      color: var(--header-copy-text-color);
      margin: 0 0 5px;
      font-weight: 600;
      @include var.sp {
        display: none;
      }
    }
    .group {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 5px;
      .logo {
        width: auto;
        height: 60px;
        &.large {
          height: 120px;
          @include var.sp {
            height: 80px;
          }
        }
      }
      .badge {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 20px;
        border-radius: 20px;
        background-color: var(--header-badge-background-color);
        color: var(--header-badge-text-color);
        font-size: 14px;
        font-weight: 600;
        margin: 0;
      }
    }
  }
  &.main {
    align-items: center;
    padding: 50px 20px;
    .logoWrap {
      margin-bottom: 30px;
      .copy {
        font-size: 20px;
        margin: 10px 0 20px;
      }
      .group {
        flex-direction: column;
        .badge {
          margin-bottom: 10px;
        }
      }
    }
  }
  .slot {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
