---
interface Props {
  isMain: boolean;
}

const { isMain } = Astro.props;
import componentStyles from "./Header.module.scss";
---

<header class:list={[componentStyles.header, isMain && componentStyles.main]}>
  <div class:list={[componentStyles.logoWrap, isMain && componentStyles.main]}>
    <p class={componentStyles.copy}>思考の扉を開け</p>
    <a href="/" class={componentStyles.group}>
      <img
        src="/logo.svg"
        alt="Logo"
        class:list={[componentStyles.logo, isMain && componentStyles.large]}
      />
      <p class={componentStyles.badge}>Preview</p>
    </a>
  </div>
  <div class={componentStyles.slot}>
    <slot />
  </div>
</header>
