---
const { labels, data, n } = Astro.props;
interface Props {
  labels: Record<string, string>;
  data: Record<string, number | string[]>;
  n: number;
}
---

<span>
  {
    Object.entries(labels).map(([k, v]) => (
      <div>
        {v}:{" "}
        {((typeof data[k] === "number" ? data[k] : data[k].length) / n) * 100}%
        ({data[k]}人)
      </div>
    ))
  }
</span>
