---
const { labels, data, n } = Astro.props;
interface Props {
  labels: Record<string, string>;
  data: Record<string, number>;
  n: number;
}
---

<span>
  {
    Object.entries(labels).map(([k, v]) => (
      <div>
        {v}: {(data[k] / n) * 100}% ({data[k]}人)
      </div>
    ))
  }
</span>
