@use "@components/var";

.bannerWrap {
  --news-banner-background-color-light: #ffffff;
  --news-banner-background-color-dark: #222119;
  --news-banner-background-color: var(--news-banner-background-color-light);
  --news-banner-text-color-light: #000000;
  --news-banner-text-color-dark: #ffffff;
  --news-banner-text-color: var(--news-banner-text-color-light);
  --news-banner-shadow-color: #00000017;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--news-banner-background-color);
  color: var(--news-banner-text-color);

  box-shadow: 0 0 20px 5px var(--news-banner-shadow-color);
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 20px;
    gap: 30px;
    width: calc(100% - 40px);
    max-width: 1200px;
    .title {
      @include var.JosefinSans;
      font-size: 24px;
      font-weight: 900;
      line-height: 1;
      margin-top: 6px;
    }
    .text {
      @include var.ZenKakuGothicNewRegular;
      font-size: 20px;
    }
  }
}

@media screen and (prefers-color-scheme: dark) {
  .bannerWrap {
    --news-banner-background-color: var(--news-banner-background-color-dark);
    --news-banner-text-color: var(--news-banner-text-color-dark);
  }
}
