---
interface Props {
  title: string;
}

const { title } = Astro.props;
import componentStyles from "./NewsBanner.module.scss";
---

<div class={componentStyles.bannerWrap}>
  <div class={componentStyles.content}>
    <div class={componentStyles.title}>NEWS</div>
    <p>{title}</p>
  </div>
</div>
