---
import componentStyles from "./Stars.module.scss";

interface Props {
  num: number;
}
const { num } = Astro.props;

const calcClass = (i: number) => {
  if (i <= Math.floor(num) - 1) {
    return componentStyles.filled;
  } else if (i >= Math.ceil(num)) {
    return componentStyles.unfilled;
  } else {
    return componentStyles.partial;
  }
};
---

<div class={componentStyles.stars}>
  {
    [...Array(5)]
      .map((_, i) => calcClass(i))
      .map((cssClass) => (
        <>
          <span
            class={cssClass}
            style={
              cssClass === componentStyles.partial
                ? `--rating-stars-part: ${(num - Math.floor(num)) * 100}%;`
                : null
            }
          >
            ★
          </span>
        </>
      ))
  }
</div>
