$sp: 700px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
@mixin JosefinSans {
  font-family: "Josefin Sans", sans-serif;
}
@mixin ZenKakuGothicNewMedium {
  font-family: "ZenKakuGothicNew Medium", sans-serif;
}
@mixin ZenKakuGothicNewRegular {
  font-family: "ZenKakuGothicNew Regular", sans-serif;
}
