---
interface Props {
	title: string;
}
import 'bulma/css/bulma.min.css';
import Header from '../components/Header.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header menu={{
			menu: [
				{
					title: 'Home',
					slug: '/',
					children: []
				},
				{
					title: 'About',
					slug: '/about',
					children: []
				},
				{
					title: 'Contact',
					slug: '/contact',
					children: []
				}
			]
		}} />
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'ZenKakuGothicNew Medium';
		src: url('/fonts/ZenKakuGothicNew-Medium.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	:root {
		--accent: 0, 193, 212;
		--accent-light: 27, 218, 235;
		--accent-dark: 6, 126, 137;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		font-family: 'ZenKakuGothicNew Medium', sans-serif;
	}
	html {
		background: #13151a;
		background-size: 224px;
	}
	body {
		font-family: 'ZenKakuGothicNew Medium', system-ui, sans-serif;
		font-weight: normal;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
